#topo h1 {
    color: red;
    text-align:center;
}

#topo h2 {
    text-align:center;
}

.destaques h2 {
    color:blue;
}

.destaques img{
    width: 150px;
    height: 230px;
}

.sobre h3{
    color:red;
}